body {
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #eceaea;
    font-family: "CenturyGothic-BoldItalic", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.chavsu-head {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 250px;
    top: 1%;
}

.logout {
    width: 29px;
    height: 30px;
    position: absolute;
    right: 1%;
    top: 1%;
}

.login-container {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    padding: 15px;
    max-width: 100%;
    width: 53%;
    height: 8%;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
    text-align: left;
    font-family: "CenturyGothic-Italic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    resize: none;
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
}

.send-btn {
    position: absolute;
    bottom: 7%;
    right: 25%;
    background: none;
    border: none;
    cursor: pointer;
    fill: #00241b;
}

.tab {
    max-width: 100%;
    background: #00241b;
    width: 250px;
    height: 1100px;
    position: absolute;
    left: -1%;
    bottom: -1%;
}

.msg {
    width: 21px;
    height: 21px;
    position: absolute;
    object-fit: cover;
    left: 30px;
    top: 8px;
}

#new-chat-btn {
    max-width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    left: 0px;
    top: 10px;
    padding: 8px 70px;
    position: absolute;
    background-color: transparent;
    color: white;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#new-chat-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 600px) {
    .tab {
        right: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        display: none;
    }

    .send-btn {
        right: 0;
    }
}