body {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    width: 260px;
    background-color: #031d16;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: width 0.3s;
}

#logo-container {
    text-align: center;
    margin-bottom: 20px;
}

#logo-container img {
    width: 80%;
    height: auto;
}

#new_chat {
    max-width: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#new_chat:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#header {
    background-color: #064635;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-container {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#logout {
    background-color: #c0392b;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

#logout-button i {
    margin-right: 5px;
}

#logout:active {
    transform: scale(0.9);
}

#chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

#user-input {
    padding: 10px;
    background-color: #eee;
    display: flex;
}

#message-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-family: "CenturyGothic-BoldItalic", sans-serif;
    font-style: italic;
    border-radius: 32px 0 32px 32px;

}

#message-input::placeholder {
    font-family: "CenturyGothic-Italic", sans-serif;
    font-style: italic;
}

#send-button {
    background-color: transparent;
    color: #064635;
    border: none;
    padding: 0px 14px;
    border-radius: 4px;
    cursor: pointer;
}

#send-button:active {
    transform: scale(0.8);
}

/* TODO: */
/* button:disabled {
    cursor: not-allowed;
    transform: none;
} */

#toggle-sidebar-button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 2000;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    #sidebar {
        width: 0;
    }

    #chat-container {
        border-radius: 0;
    }
}