body {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "CenturyGothic-Italic", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    /* max-width: 100%; */
    min-width: 15%;
    background-color: #031d16;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: width 0.3s;
}

#logo-container {
    text-align: center;
    margin-bottom: 20px;
}

#logo-container img {
    width: 80%;
    height: auto;
}

#new_chat {
    max-width: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#new_chat:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#header {
    background-color: #064635;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-container {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#logout {
    background-color: #c0392b;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

#logout-button i {
    margin-right: 5px;
}

#logout:active {
    transform: scale(0.9);
}

#chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

#user-input {
    padding: 10px;
    background-color: #eee;
    display: flex;
    height: 5vh;
}

#message-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-family: "CenturyGothic-BoldItalic", sans-serif;
    border-radius: 32px 0 32px 32px;

}

#message-input::placeholder {
    font-family: "CenturyGothic-Italic", sans-serif;
    font-style: italic;
}

#send-button {
    background-color: transparent;
    color: #064635;
    border: none;
    padding: 0px 14px;
    border-radius: 4px;
    cursor: pointer;
}

#send-button:active {
    transform: scale(0.8);
}

/* TODO: */
/* button:disabled {
    cursor: not-allowed;
    transform: none;
} */

#toggle-sidebar-button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 2000;
}



#chat-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-container {
    display: flex;
    margin-bottom: 10px;
}

.user-message {
    /* background-color: #1bcc47; */
    color: #000;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    margin: 5px 0;
    max-width: 70%;
    align-self: flex-end;
    justify-content: flex-end;
    word-wrap: break-word;
}

.bot-message {
    /* background-color: #cccccc; */
    color: #000;
    border-radius: 20px 20px 20px 0;
    padding: 10px;
    margin: 5px 0;
    max-width: 70%;
    align-self: flex-start;
    word-wrap: break-word;
}

.message-bubble {
    background-color: #cccccc;
    max-width: 100%;
    padding: 10px;
    margin: 0 10px;
    word-wrap: break-word;
    animation: fadeInUp 0.5s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message-image {
    width: 2vw;
    height: 4vh;
    /* max-width: 1;
    max-height: 70%; */
    border-radius: 8px;
    margin-top: 10px;
}

.user-message .message-bubble {
    background-color: #4caf50;
    border-radius: 20px 20px 0 20px;
    color: #fff;
}

.bot-message .message-bubble {
    background-color: #cccccc;
    border-radius: 20px 20px 20px 0;
    color: #333;
}

#sidebar-content {
    margin-top: 20px;
}

.sidebar-item {
    position: relative;
}

.sidebar-item:hover .del-button {
    opacity: 1;
}

.sidebar-item a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #555;
    transition: background-color 0.3s;
}

.sidebar-item a:hover {
    background-color: #555;
}

.del-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    #sidebar {
        width: 0;
    }

    #chat-container {
        border-radius: 0;
    }
}

.typing-indicator  {
    padding: 10px;
    display: flex;
    height: 5vh;
    span {
        width: 15px;
        height: 15px;
        background-color: #004909;
        display: inline-block;
        margin: 3px;
        border-radius: 50%;
        top: 100%;
        &:nth-child(1) {
            animation: bounce 1s infinite;
        }
        &:nth-child(2) {
            animation: bounce 1s infinite .2s;
        }
        &:nth-child(3) {
            animation: bounce 1s infinite .4s;
        }
    }
}
  
@keyframes bounce {
0% {
    transform: translateY(0px);
}
50% {
    transform: translateY(8px);
}
100% {
    transform: translateY(0px);
}
}

.hide {
    display: none !important;
}
  
.message-container.bot-message .typing-indicator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8px;
}