body {
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #eceaea;
    font-family: "CenturyGothic-BoldItalic", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.chavsu-head {
    max-width: 100%; /* Adjust the maximum width as needed */
    height: auto;
    position: absolute;
    left: 250px; /* Adjust the left position percentage as needed */
    top: 1%; /* Adjust the top position percentage as needed */
}

.logout {
    width: 29px;
    height: 30px;
    position: absolute;
    right: 1%;
    top: 1%;
}

.login-container {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000000;
    font-family: "CenturyGothic-BoldItalic", sans-serif;
    font-style: italic;
    margin-bottom: 50px;
}

.cvsu-email,
.password {
    color: #000000;
    text-align: left;
    font-family: "CenturyGothic-Italic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    width: 133px;
    height: 28px;
}

textarea {
    padding: 15px;
    max-width: 100%;
    width: 650px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
    text-align: left;
    font-family: "CenturyGothic-Italic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    resize: none;
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
}

.send-button {
    position: absolute;
    bottom: 5%; /* Center vertically */
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    fill: #000000;
}

.tab {
    max-width: 100%;
    background: #00241b;
    width: 250px;
    height: 1100px;
    position: absolute;
    left: -1%;
    bottom: -1%;
}

.msg {
    width: 21px;
    height: 21px;
    position: absolute;
    object-fit: cover;
    left: 30px;
    top: 8px;
}

#new-chat-btn {
    max-width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    left: 0px;
    top: 10px;
    padding: 8px 70px;
    position: absolute;
    background-color: transparent;
    color: white;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#new-chat-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 768px) {
    .tab {
      width: 100%;
      height: 100%;
    }
    .chavsu-head {
        left: 13%; /* Adjust the left position percentage as needed */
  }
}