body {
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #eceaea;
  font-family: "CenturyGothic-BoldItalic", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97.8vh;
  flex-direction: column;
}

#header {
  max-width: 100%;
  width: 207.8vh;
  position: absolute;
  background-color: #064635;
  color: #fff;
  padding: 10px;
  text-align: center;
  top: -1%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.chavsu-head {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 1%;
  top: 1%;
}

.login-container {
  max-width: 100%;
  width:auto;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #000000;
  font-family: "CenturyGothic-BoldItalic", sans-serif;
  font-style: italic;
  margin-bottom: 50px;
}

.cvsu-email,
.password {
  color: #000000;
  text-align: left;
  font-family: "CenturyGothic-Italic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width for responsiveness */
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgot-pass {
  color: #000000;
  text-align: right; /* Align text to the right */
  font-family: "CenturyGothic-Italic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  width: 100%; /* Full width for responsiveness */
  margin-top: -17px; /* Adjusted margin */
}

.register {
  color: #000000;
  text-align: left;
  font-family: "CenturyGothic-Italic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  width: 100%; /* Full width for responsiveness */
  margin-top: 25px;

}

.button-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  width: 100%;
  margin-top: 20px; /* Adjust margin as needed */
}

button {
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
  color: black;
  font-family: "CenturyGothic-Italic", sans-serif;
  font-size: 12px;
}


#signin {
  background-color: orange; /* Set color for the "SIGN IN" button */
  margin-right: 10px; /* Adjust spacing between buttons */
}

#back {
  background-color: grey; /* Set color for the "BACK" button */
}

#signin:hover {
  background-color:orangered;
}

#back:hover {
  background-color:rgb(212, 21, 21);
}

#errorMessage {
  color: #dc3545;
}

