body {
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #eceaea;
    font-family: "CenturyGothic-BoldItalic", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.chavsu-head {
    max-width: 100%; /* Adjust the maximum width as needed */
    height: auto;
    position: absolute;
    left: 1%; /* Adjust the left position percentage as needed */
    top: 1%; /* Adjust the top position percentage as needed */
}

.help {
    width: 29px;
    height: 30px;
    position: absolute;
    right: 1%;
    top: 1%;
}

.login-container {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.log {
    width: 30px; /* Set the width of the log.png image */
    height: 30px; /* Set the height of the log.png image */
    margin-right: 0px; /* Adjust margin as needed */
}

h2 {
    color: #000000;
    font-family: "CenturyGothic-BoldItalic", sans-serif;
    font-style: italic;
    margin-bottom: 50px;
}

.cvsu-email,
.password {
    color: #000000;
    text-align: left;
    font-family: "CenturyGothic-Italic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    width: 133px;
    height: 28px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Full width for responsiveness */
}

label {
    margin-bottom: 5px;
}

input {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-pass {
    color: #000000;
    text-align: right; /* Align text to the right */
    font-family: "CenturyGothic-Italic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    width: 100%; /* Full width for responsiveness */
    margin-top: -17px; /* Adjusted margin */
}

.register {
    color: #000000;
    text-align: left;
    font-family: "CenturyGothic-Italic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    width: 100%; /* Full width for responsiveness */
    margin-top: 25px;

}

button {
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    color: black;
    font-family: "CenturyGothic-Italic", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

button:hover {
    background-color:orangered;
}

#errorMessage {
    color: #dc3545;
}

