.edit-kword i {
  background-color: #ffffff;
  border-radius: 2px;
  /* Optional: Add rounded corners */
  color: #000000;
  /* White color for the icons */
  padding: 5px;
  /* Adjust the padding as needed */
  display: inline-block;
  /* Make the anchor tags block-level for better spacing */
  margin: 5px;
  /* Add some margin around the icons */
}

.del-kword i {
  background-color: #ffffff;
  border-radius: 2px;
  /* Optional: Add rounded corners */
  color: #d50303;
  /* White color for the icons */
  padding: 5px;
  /* Adjust the padding as needed */
  display: inline-block;
  /* Make the anchor tags block-level for better spacing */
  margin: 5px;
  /* Add some margin around the icons */
}

td {
  text-align: center;
  /* Center align the content in the cells */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background: #0a860f; */
  /* color: #ffffff;*/
}

h1 {
  text-align: center;
  color: #026008;
  font-family: "Century Gothic", sans-serif;
  /* Century Gothic font style */
  font-weight: bold;
  /* Bold text */
}

label {
  color: #000000;
  display: block;
  font-size: 13px;
  margin-bottom: 8px;
}

textarea {
  width: calc(100% - 20px);
  /* Adjusted width for textarea to account for padding */
  padding: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
  font-family: inherit;
  /* Inherit font-family from the container */
}

textarea {
  height: 70px;
  /* Set the fixed height for the textarea */
  resize: none;
  /* Disable textarea resizing */
}

button:disabled {
  cursor: not-allowed;
  transform: none;
}

.table-container {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

/* table {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
} */

caption {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#logout {
  position: absolute;
  top: 10px;
  right: 5px;
}

.logout-btn {
  background-color: #ffffff;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}


@media only screen and (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 10px;
  }
}